@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";


body {
  width: 100dvw;
  overflow-x: hidden;
font-family: "Poppins", sans-serif;
background-color: black;
}

main {
  background: #000;
}
@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .grid-layer{
    @apply grid grid-cols-10 grid-rows-9 gap-7 
  }
}